In [317]:
import os
import csv
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from raceplotly.plots import barplot

In [162]:
wait_times = pd.read_csv('Wait_Times_By_Centers.csv')

wait_times = pd.DataFrame(wait_times)

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,NaN,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,NaN,< 30 Days,NaN,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,30 to < 90 Days,NaN,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,90 Days to < 6 Months,NaN,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,6 Months to < 1 Year,NaN,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,NaN,NaN,< 30 Days,NaN,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,NaN,NaN,30 to < 90 Days,NaN,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,NaN,NaN,90 Days to < 6 Months,NaN,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,NaN,NaN,6 Months to < 1 Year,NaN,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,NaN,NaN,1 Year to < 2 Years,NaN,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
list(wait_times.columns)

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'All Organs',
 'Kidney',
 'Liver',
 'Pancreas',
 'Kidney / Pancreas',
 'Heart',
 'Lung',
 'Heart / Lung',
 'Intestine',
 'Abdominal Wall',
 'Head & Neck: Craniofacial',
 'GU: Uterus',
 'Upper Limb: Bilateral',
 'Upper Limb: Unilateral',
 'Face, Scalp']

In [164]:
wait_times = wait_times.drop(columns='Unnamed: 3')

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,NaN,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,NaN,NaN,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,NaN,NaN,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,NaN,NaN,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,NaN,NaN,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,NaN,NaN,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
wait_times['Unnamed: 0'] = wait_times['Unnamed: 0'].fillna(method='ffill')

wait_times['Unnamed: 1'] = wait_times['Unnamed: 1'].fillna(method='ffill')

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,All Center States,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,All Centers,All Center States,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,All Centers,All Center States,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,All Centers,All Center States,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [166]:
wait_times = wait_times.rename(columns={'Unnamed: 0':'Center Name','Unnamed: 1':'Center States','Unnamed: 2':'Wait Time'})

wait_times

,Center Name,Center States,Wait Time,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,All Center States,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,All Centers,All Center States,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,All Centers,All Center States,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,All Centers,All Center States,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
wait_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Center Name                4884 non-null   object
 1   Center States              4884 non-null   object
 2   Wait Time                  4768 non-null   object
 3   All Organs                 4768 non-null   object
 4   Kidney                     4768 non-null   object
 5   Liver                      4768 non-null   object
 6   Pancreas                   4768 non-null   float64
 7   Kidney / Pancreas          4768 non-null   object
 8   Heart                      4768 non-null   object
 9   Lung                       4768 non-null   float64
 10  Heart / Lung               4768 non-null   float64
 11  Intestine                  4768 non-null   float64
 12  Abdominal Wall             4768 non-null   float64
 13  Head & Neck: Craniofacial  4768 non-null   float64
 14  GU: Uterus                 4768 non-null   float64
 15  Upper Limb: Bilateral      4768 non-null   float64
 16  Upper Limb: Unilateral     4768 non-null   float64
 17  Face, Scalp                4768 non-null   float64
dtypes: float64(10), object(8)
memory usage: 686.9+ KB

In [168]:
final_df = wait_times[['Center Name','Center States','Wait Time','Kidney','Liver','Pancreas','Heart']]

final_df = pd.DataFrame(final_df)

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,"91,242","11,896",897.0,"3,515"
1,All Centers,All Center States,< 30 Days,"3,281",878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,"4,979","1,032",58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,"8,158","1,563",90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,"11,530","1,976",110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [169]:
final_df['Kidney']=final_df['Kidney'].str.replace(',','')

final_df['Liver']=final_df['Liver'].str.replace(',','')

final_df['Heart']=final_df['Heart'].str.replace(',','')

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,91242,11896,897.0,3515
1,All Centers,All Center States,< 30 Days,3281,878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,4979,1032,58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,8158,1563,90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,11530,1976,110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [170]:
final_df = final_df.dropna(subset=['Wait Time'])

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,91242,11896,897.0,3515
1,All Centers,All Center States,< 30 Days,3281,878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,4979,1032,58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,8158,1563,90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,11530,1976,110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [171]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4768 entries, 0 to 4883
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Center Name    4768 non-null   object
 1   Center States  4768 non-null   object
 2   Wait Time      4768 non-null   object
 3   Kidney         4768 non-null   object
 4   Liver          4768 non-null   object
 5   Pancreas       4768 non-null   float64
 6   Heart          4768 non-null   object
dtypes: float64(1), object(6)
memory usage: 298.0+ KB

In [172]:
final_df['Kidney'].astype(int)
final_df['Liver'].astype(int)
final_df['Heart'].astype(int)
final_df['Pancreas'].astype(int)

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,91242,11896,897.0,3515
1,All Centers,All Center States,< 30 Days,3281,878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,4979,1032,58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,8158,1563,90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,11530,1976,110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [173]:
center_list = ['All Centers']

not_ACS_list = ['All Center States']

final_df = final_df[final_df['Center Name'].isin(center_list) == False]

final_df = final_df[final_df['Center States'].isin(not_ACS_list) == False]

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
459,ALCH-TX1 Children's of Alabama,Alabama,All Time,15,2,0.0,6
460,ALCH-TX1 Children's of Alabama,Alabama,< 30 Days,2,0,0.0,1
461,ALCH-TX1 Children's of Alabama,Alabama,30 to < 90 Days,0,1,0.0,0
463,ALCH-TX1 Children's of Alabama,Alabama,90 Days to < 6 Months,3,0,0.0,0
464,ALCH-TX1 Children's of Alabama,Alabama,6 Months to < 1 Year,3,0,0.0,2
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [232]:
final_df.to_csv('clean_data/clean_wait_list.csv')

In [303]:
dtm_df = pd.read_csv('Transplants_by_Donor_Type money.csv')

dtm_state = pd.read_csv('Transplants_by_Donor_Type state.csv')

dtm_state

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,To Date,2021,2020,2019,2018,2017,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,NaN,"839,964","3,128","39,035","39,719","36,530","34,770",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,NaN,"494,379","1,802","22,817","23,401","21,167","19,849",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,NaN,"182,705",729,"8,906","8,896","8,250","8,082",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,NaN,"9,041",12,135,143,192,213,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,NaN,"25,513",68,827,872,835,789,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,NaN,"4,497",6,143,172,156,155,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,NaN,"4,438",6,140,164,156,145,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,NaN,59,0,3,8,0,10,...,0,0,0,0,0,0,0,0,0,0

In [304]:
dtm_state = dtm_state.drop(columns='Unnamed: 3')

dtm_state = dtm_state.rename(columns={'Unnamed: 0':'Donor Type','Unnamed: 1':'Center States','Unnamed: 2':'Organ Type'})

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [305]:
dtm_state = pd.DataFrame(dtm_state)

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [306]:
dtm_state['Donor Type'] = dtm_state['Donor Type'].fillna(method='ffill')

dtm_state['Center States'] = dtm_state['Center States'].fillna(method='ffill')

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,All Donor Types,All Center States,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,All Donor Types,All Center States,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,All Donor Types,All Center States,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,All Donor Types,All Center States,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Living Donor,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,Living Donor,West Virginia,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,Living Donor,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,Living Donor,Wisconsin,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,Living Donor,Wisconsin,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [307]:
state_not_all_types = ['All Donor Types']

state_not_all_centers = ['All Center States']

state_not_all_organs = ['All Organs']

state_not_heart = ['Kidney','Liver','Lung','Pancreas','Kidney / Pancreas']

dtm_state = dtm_state[dtm_state['Donor Type'].isin(state_not_all_types) == False]

dtm_state = dtm_state[dtm_state['Center States'].isin(state_not_all_centers) == False]

dtm_state = dtm_state[dtm_state['Organ Type'].isin(state_not_heart)]

dtm_state = dtm_state.dropna(subset=['Organ Type'])

dtm_state = dtm_state.drop(columns='To Date')

dtm_state

,Donor Type,Center States,Organ Type,2021,2020,2019,2018,2017,2016,2015,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
440,Deceased Donor,Alabama,Kidney,16,295,217,186,210,141,144,...,170,196,216,176,209,165,188,201,177,150
441,Deceased Donor,Alabama,Liver,4,100,133,125,133,149,120,...,86,86,82,63,41,31,24,23,10,3
442,Deceased Donor,Alabama,Pancreas,0,0,1,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
443,Deceased Donor,Alabama,Kidney / Pancreas,2,8,8,6,5,12,10,...,6,7,1,13,9,8,0,6,7,8
445,Deceased Donor,Alabama,Lung,3,13,8,19,18,15,17,...,27,25,27,23,11,9,6,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,Living Donor,Washington,Kidney,7,76,120,99,88,103,92,...,90,81,87,86,55,53,54,47,51,60
1009,Living Donor,Washington,Liver,1,7,1,1,4,2,1,...,0,0,0,0,0,0,0,0,0,0
1012,Living Donor,West Virginia,Kidney,0,3,8,12,4,6,3,...,14,15,7,8,10,6,10,10,11,10
1014,Living Donor,Wisconsin,Kidney,6,140,164,156,145,155,149,...,132,152,93,89,84,85,79,71,64,83
1015,Living Donor,Wisconsin,Liver,0,3,8,0,10,3,7,...,0,0,0,0,0,0,0,0,0,0

In [320]:
my_raceplot = barplot(dtm_state,
                      item_column='Organ Type',
                      value_column='2021',
                      time_column='2020')
my_raceplot.show()

AttributeError: 'barplot' object has no attribute 'show'

In [314]:
group = dtm_state.groupby(['Donor Type','Center States','Organ Type']).sum()

group

                                               2021 2020 2019 2018 2017 2016  \
Donor Type     Center States Organ Type
Deceased Donor Alabama       Kidney              16  295  217  186  210  141
                             Kidney / Pancreas    2    8    8    6    5   12
                             Liver                4  100  133  125  133  149
                             Lung                 3   13    8   19   18   15
                             Pancreas             0    0    1    2    0    0
...                                             ...  ...  ...  ...  ...  ...
Living Donor   Washington    Kidney               7   76  120   99   88  103
                             Liver                1    7    1    1    4    2
               West Virginia Kidney               0    3    8   12    4    6
               Wisconsin     Kidney               6  140  164  156  145  155
                             Liver                0    3    8    0   10    3

                                               2015 2014 2013 2012  ... 1997  \
Donor Type     Center States Organ Type                             ...
Deceased Donor Alabama       Kidney             144  139  123  123  ...  170
                             Kidney / Pancreas   10   10   10   15  ...    6
                             Liver              120  107  103  110  ...   86
                             Lung                17   21   24   18  ...   27
                             Pancreas             0    0    2    1  ...    0
...                                             ...  ...  ...  ...  ...  ...
Living Donor   Washington    Kidney              92  110  123  114  ...   90
                             Liver                1    0    0    0  ...    0
               West Virginia Kidney               3    4    2    2  ...   14
               Wisconsin     Kidney             149  134  133  124  ...  132
                             Liver                7    2    1    1  ...    0

                                               1996 1995 1994 1993 1992 1991  \
Donor Type     Center States Organ Type
Deceased Donor Alabama       Kidney             196  216  176  209  165  188
                             Kidney / Pancreas    7    1   13    9    8    0
                             Liver               86   82   63   41   31   24
                             Lung                25   27   23   11    9    6
                             Pancreas             0    0    0    0    0    0
...                                             ...  ...  ...  ...  ...  ...
Living Donor   Washington    Kidney              81   87   86   55   53   54
                             Liver                0    0    0    0    0    0
               West Virginia Kidney              15    7    8   10    6   10
               Wisconsin     Kidney             152   93   89   84   85   79
                             Liver                0    0    0    0    0    0

                                               1990 1989 1988
Donor Type     Center States Organ Type
Deceased Donor Alabama       Kidney             201  177  150
                             Kidney / Pancreas    6    7    8
                             Liver               23   10    3
                             Lung                 2    1    0
                             Pancreas             1    0    0
...                                             ...  ...  ...
Living Donor   Washington    Kidney              47   51   60
                             Liver                0    0    0
               West Virginia Kidney              10   11   10
               Wisconsin     Kidney              71   64   83
                             Liver                0    0    0

[307 rows x 34 columns]

In [301]:
transpose_df['2021'] = transpose_df['2021'].astype(int)
transpose_df['2020'] = transpose_df['2020'].astype(int)
transpose_df['2019'] = transpose_df['2019'].astype(int)
transpose_df['2018'] = transpose_df['2018'].astype(int)
transpose_df['2017'] = transpose_df['2017'].astype(int)
transpose_df['2016'] = transpose_df['2016'].astype(int)
transpose_df['2015'] = transpose_df['2015'].astype(int)
transpose_df['2014'] = transpose_df['2014'].astype(int)
transpose_df['2013'] = transpose_df['2013'].astype(int)
transpose_df['2012'] = transpose_df['2012'].astype(int)
transpose_df['2011'] = transpose_df['2011'].astype(int)
transpose_df['2010'] = transpose_df['2010'].astype(int)
transpose_df['2009'] = transpose_df['2009'].astype(int)
transpose_df['2008'] = transpose_df['2008'].astype(int)
transpose_df['2007'] = transpose_df['2007'].astype(int)
transpose_df['2006'] = transpose_df['2006'].astype(int)
transpose_df['2005'] = transpose_df['2005'].astype(int)
transpose_df['2004'] = transpose_df['2004'].astype(int)
transpose_df['2003'] = transpose_df['2003'].astype(int)
transpose_df['2002'] = transpose_df['2002'].astype(int)
transpose_df['2001'] = transpose_df['2001'].astype(int)
transpose_df['2000'] = transpose_df['2000'].astype(int)
transpose_df['1999'] = transpose_df['1999'].astype(int)
transpose_df['1998'] = transpose_df['1998'].astype(int)
transpose_df['1997'] = transpose_df['1997'].astype(int)
transpose_df['1996'] = transpose_df['1996'].astype(int)
transpose_df['1995'] = transpose_df['1995'].astype(int)
transpose_df['1994'] = transpose_df['1994'].astype(int)
transpose_df['1993'] = transpose_df['1993'].astype(int)
transpose_df['1992'] = transpose_df['1992'].astype(int)
transpose_df['1991'] = transpose_df['1991'].astype(int)
transpose_df['1990'] = transpose_df['1990'].astype(int)
transpose_df['1989'] = transpose_df['1989'].astype(int)
transpose_df['1988'] = transpose_df['1988'].astype(int)

KeyError: '2021'

In [182]:
dtm_df = dtm_df.rename(columns={'Unnamed: 0':'Donor Type','Unnamed: 1':'Organ Type','Unnamed: 2':'Payment'})


dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Organs,All Primary Payers,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Donation,211,0,3,3,2,5,4,...,14,17,18,12,1,0,2,1,3,0
2,NaN,NaN,Foreign Government Specify,"1,820",2,84,112,94,112,120,...,29,25,30,12,3,1,1,0,0,1
3,NaN,NaN,Free Care,"1,097",1,20,15,13,14,17,...,56,62,76,77,13,8,2,1,2,1
4,NaN,NaN,Pending,9,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,NaN,NaN,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,NaN,NaN,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,NaN,NaN,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,NaN,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,NaN,NaN,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [62]:
dtm_df['Donor Type'] = dtm_df['Donor Type'].fillna(method='ffill')

dtm_df['Organ Type'] = dtm_df['Organ Type'].fillna(method='ffill')

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Organs,All Primary Payers,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,All Donor Types,All Organs,Donation,211,0,3,3,2,5,4,...,14,17,18,12,1,0,2,1,3,0
2,All Donor Types,All Organs,Foreign Government Specify,"1,820",2,84,112,94,112,120,...,29,25,30,12,3,1,1,0,0,1
3,All Donor Types,All Organs,Free Care,"1,097",1,20,15,13,14,17,...,56,62,76,77,13,8,2,1,2,1
4,All Donor Types,All Organs,Pending,9,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [63]:
dtm_not_all_type = ['All Donor Types']

dtm_not_all_organs = ['All Organs']

dtm_not_all_primary = ['All Primary Payers']

dtm_df = dtm_df[dtm_df['Donor Type'].isin(dtm_not_all_type)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
157,Deceased Donor,All Organs,All Primary Payers,"667,687","2,695","33,309","32,322","29,681","28,588","27,630",...,"16,266","15,983","15,921","15,211","14,733","13,563","13,329","12,878","11,222","10,794"
158,Deceased Donor,All Organs,Donation,162,0,1,3,1,4,3,...,12,16,16,11,1,0,2,1,3,0
159,Deceased Donor,All Organs,Foreign Government Specify,"1,471",2,72,94,62,91,94,...,25,24,28,11,3,0,1,0,0,1
160,Deceased Donor,All Organs,Free Care,960,0,20,13,12,12,13,...,53,57,74,72,13,8,2,0,2,1
161,Deceased Donor,All Organs,Pending,8,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [64]:
dtm_df = dtm_df[dtm_df['Organ Type'].isin(dtm_not_all_organs)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
174,Deceased Donor,Kidney,All Primary Payers,"330,375","1,410","17,583","16,534","14,725","14,038","13,431",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
175,Deceased Donor,Kidney,Donation,27,0,0,1,0,1,1,...,2,2,3,0,0,0,0,0,0,0
176,Deceased Donor,Kidney,Foreign Government Specify,257,0,13,11,11,14,22,...,7,4,1,2,0,0,0,0,0,0
177,Deceased Donor,Kidney,Free Care,112,0,1,1,4,2,4,...,6,1,10,11,0,0,0,0,0,0
178,Deceased Donor,Kidney,Pending,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [65]:
dtm_df = dtm_df[dtm_df['Payment'].isin(dtm_not_all_primary)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
175,Deceased Donor,Kidney,Donation,27,0,0,1,0,1,1,...,2,2,3,0,0,0,0,0,0,0
176,Deceased Donor,Kidney,Foreign Government Specify,257,0,13,11,11,14,22,...,7,4,1,2,0,0,0,0,0,0
177,Deceased Donor,Kidney,Free Care,112,0,1,1,4,2,4,...,6,1,10,11,0,0,0,0,0,0
178,Deceased Donor,Kidney,Pending,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
179,Deceased Donor,Kidney,Private insurance,"75,301",178,"4,342","3,701","3,207","3,034","2,815",...,"2,144","2,059","1,984","1,494",59,22,9,21,13,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Living Donor,Intestine,Private insurance,22,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [66]:
organ_list = ['Kidney','Heart','Liver','Pancreas']

dtm_df = dtm_df[dtm_df['Organ Type'].isin(organ_list)]

dtm_df = dtm_df.dropna(subset=['Payment'])

dtm_df.sort_values('Organ Type')

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
240,Deceased Donor,Heart,Private insurance,"35,057",59,"1,644","1,673","1,521","1,489","1,384",...,"1,388","1,361","1,378",960,26,8,12,13,7,1
238,Deceased Donor,Heart,Free Care,255,0,10,4,0,2,0,...,13,15,20,21,2,1,0,0,0,0
239,Deceased Donor,Heart,Pending,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,Living Donor,Heart,Public insurance - Medicare Unspecified,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
241,Deceased Donor,Heart,Public insurance - CHIP (Children's Health Ins...,292,1,34,25,18,14,23,...,0,0,1,1,1,1,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Deceased Donor,Pancreas,Public insurance - Medicare FFS (Fee for Service),"1,097",0,24,29,34,46,39,...,0,0,0,0,0,0,0,0,0,0
215,Deceased Donor,Pancreas,Public insurance - Medicare & Choice,550,0,10,9,11,20,25,...,0,0,0,0,0,0,0,0,0,0
214,Deceased Donor,Pancreas,Public insurance - Medicaid,873,1,20,16,41,34,41,...,20,10,8,7,10,8,5,3,4,0
220,Deceased Donor,Pancreas,US/State Govt Agency,51,0,0,0,0,0,0,...,5,3,3,3,1,1,0,0,0,0
217,Deceased Donor,Pancreas,Public insurance - Medicare Unspecified,"1,013",0,0,0,0,0,0,...,39,42,22,19,9,4,6,5,1,0

In [67]:
dtm_state = dtm_state[dtm_state['Organ Type'].isin(organ_list)]

dtm_state = pd.DataFrame(dtm_state)

dtm_state['To Date'].replace('', np.nan, inplace=True)

dtm_state.dropna(subset=['To Date'], inplace=True)

dtm_state.sort_values('Organ Type')

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
700,Deceased Donor,North Carolina,Heart,"2,950",13,163,162,141,125,126,...,65,72,60,72,59,54,34,56,30,43
500,Deceased Donor,District of Columbia,Heart,492,2,39,22,25,24,26,...,16,17,18,14,23,13,25,18,13,20
865,Living Donor,California,Heart,15,0,0,0,0,2,1,...,0,0,0,2,0,0,1,6,1,2
648,Deceased Donor,Missouri,Heart,"2,789",5,101,107,93,105,98,...,82,89,84,101,94,79,92,57,66,79
508,Deceased Donor,Florida,Heart,"4,667",27,288,236,246,243,243,...,131,108,106,88,95,93,82,74,67,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,Deceased Donor,Minnesota,Pancreas,"1,595",1,7,14,12,17,17,...,51,36,26,25,36,20,19,33,34,30
823,Deceased Donor,Washington,Pancreas,113,0,1,0,0,2,1,...,9,4,4,4,5,2,5,1,0,0
814,Deceased Donor,Virginia,Pancreas,159,0,4,1,7,4,3,...,1,2,1,0,1,1,2,3,1,0
592,Deceased Donor,Maryland,Pancreas,593,0,4,3,6,10,2,...,49,45,15,18,9,6,0,0,0,0
568,Deceased Donor,Kentucky,Pancreas,39,0,0,1,0,1,0,...,1,0,1,2,1,0,0,2,1,3

In [68]:
dtm_df.to_csv('clean_data/donor_type_payment.csv')

In [69]:
dtm_state.to_csv('clean_data/donor_type_by_state.csv')

In [70]:
wait_center = pd.read_csv('Wait_List_By_Center.csv')

wait_time = pd.read_csv('Wait_Times_By_Centers.csv')

donor_state = pd.read_csv('Transplants_by_Donor_Type state.csv')

cpra_score = pd.read_csv('CPRA.csv')

In [71]:
wait_center = wait_center.drop(columns={'Unnamed: 2'})

wait_center = wait_center.rename(columns={'Unnamed: 0':'Center', 'Unnamed: 1':'Type'})

wait_center['Center'] = wait_center['Center'].fillna(method='ffill')

wait_center = wait_center.dropna(subset=['Type'])

wait_center

,Center,Type,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Types,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,Liver Status 1A,5,0,5,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,All Centers,Liver Status 1B,13,0,13,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,All Centers,Liver Status 7 (Inactive),"2,749",0,"2,749",0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,All Centers,Liver MELD / PELD <15,"5,060",0,"5,060",0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,WVCA-TX1 Charleston Area Medical Center,Kidney/Panc/Kidney-Panc: Temporarily inactive,41,41,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2561,WVWU-TX1 West Virginia University Hospitals Inc.,All Types,42,41,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2563,WVWU-TX1 West Virginia University Hospitals Inc.,Heart Status 7 (Inactive),1,0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2564,WVWU-TX1 West Virginia University Hospitals Inc.,Kidney/Pancreas/Kidney-Pancreas: Active,24,24,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2565,WVWU-TX1 West Virginia University Hospitals Inc.,Kidney/Panc/Kidney-Panc: Temporarily inactive,17,17,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
wait_center = wait_center[['Center','Type','Kidney','Liver','Pancreas','Kidney / Pancreas','Heart']]

all_list = ['All Centers']

wait_center = wait_center[wait_center['Center'].isin(all_list)== False]

wait_center['Pancreas'] = wait_center['Pancreas'].astype(int)

wait_center

,Center,Type,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart
37,ALCH-TX1 Children's of Alabama,All Types,15,2,0,0,6
38,ALCH-TX1 Children's of Alabama,Liver MELD / PELD <15,0,1,0,0,0
39,ALCH-TX1 Children's of Alabama,Liver MELD / PELD 20-24,0,1,0,0,0
40,ALCH-TX1 Children's of Alabama,Heart Status 1B,0,0,0,0,2
41,ALCH-TX1 Children's of Alabama,Heart Status 2,0,0,0,0,2
...,...,...,...,...,...,...,...
2560,WVCA-TX1 Charleston Area Medical Center,Kidney/Panc/Kidney-Panc: Temporarily inactive,41,0,0,0,0
2561,WVWU-TX1 West Virginia University Hospitals Inc.,All Types,41,0,0,0,1
2563,WVWU-TX1 West Virginia University Hospitals Inc.,Heart Status 7 (Inactive),0,0,0,0,1
2564,WVWU-TX1 West Virginia University Hospitals Inc.,Kidney/Pancreas/Kidney-Pancreas: Active,24,0,0,0,0
2565,WVWU-TX1 West Virginia University Hospitals Inc.,Kidney/Panc/Kidney-Panc: Temporarily inactive,17,0,0,0,0

In [73]:
wait_time = wait_time.drop(columns={'Unnamed: 2'})

wait_time = wait_time.drop(columns={'Unnamed: 3'})

wait_time = wait_time.rename(columns={'Unnamed: 0':'Center', 'Unnamed: 1':'State'})

wait_time['Center'] = wait_time['Center'].fillna(method='ffill')

wait_time = wait_time.dropna(subset=['State'])

wait_time

,Center,State,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
9,All Centers,Alabama,"1,227","1,099",104,5.0,9,21,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,All Centers,Arizona,"1,644","1,397",200,5.0,19,29,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,All Centers,Arkansas,244,183,31,0.0,0,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,All Centers,California,"21,319","18,702","2,261",61.0,223,281,141.0,8.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4844,WIUW-TX1 University of Wisconsin Hospital and ...,Wisconsin,848,736,84,14.0,19,9,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4853,WVCA-TX1 Charleston Area Medical Center,All Center States,73,73,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4862,WVCA-TX1 Charleston Area Medical Center,West Virginia,73,73,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4871,WVWU-TX1 West Virginia University Hospitals Inc.,All Center States,42,41,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4878,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,42,41,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
wait_time = wait_time[['Center','State','Kidney','Liver','Pancreas','Kidney / Pancreas','Heart']]

time_all_list = ['All Centers']

wait_time = wait_time[wait_time['Center'].isin(all_list)== False]

wait_time['Pancreas'] = wait_time['Pancreas'].astype(int)

wait_time['Kidney'] = wait_time['Kidney'].str.replace(',','')

wait_time['Kidney'] = wait_time['Kidney'].astype(int)

type_list = ['All Center States']

wait_time['State'] = wait_time[wait_time['State'].isin(type_list) == False]

wait_time = wait_time.dropna(subset=['State'])

wait_time

,Center,State,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart
459,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,15,2,0,0,6
478,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,1031,102,5,9,15
493,ALVA-TX1 Birmingham VA Medical Center,ALVA-TX1 Birmingham VA Medical Center,55,0,0,0,0
507,ARBH-TX1 Baptist Medical Center,ARBH-TX1 Baptist Medical Center,0,0,0,0,28
519,ARCH-TX1 Arkansas Children's Hospital,ARCH-TX1 Arkansas Children's Hospital,4,0,0,0,2
...,...,...,...,...,...,...,...
4807,WISE-TX1 Froedtert Memorial Lutheran Hospital,WISE-TX1 Froedtert Memorial Lutheran Hospital,429,107,0,7,23
4825,WISL-TX1 Aurora St. Luke's Medical Center,WISL-TX1 Aurora St. Luke's Medical Center,164,71,0,6,19
4844,WIUW-TX1 University of Wisconsin Hospital and ...,WIUW-TX1 University of Wisconsin Hospital and ...,736,84,14,19,9
4862,WVCA-TX1 Charleston Area Medical Center,WVCA-TX1 Charleston Area Medical Center,73,0,0,0,0
4878,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,41,0,0,0,1

In [75]:
wait_time

,Center,State,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart
459,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,15,2,0,0,6
478,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,1031,102,5,9,15
493,ALVA-TX1 Birmingham VA Medical Center,ALVA-TX1 Birmingham VA Medical Center,55,0,0,0,0
507,ARBH-TX1 Baptist Medical Center,ARBH-TX1 Baptist Medical Center,0,0,0,0,28
519,ARCH-TX1 Arkansas Children's Hospital,ARCH-TX1 Arkansas Children's Hospital,4,0,0,0,2
...,...,...,...,...,...,...,...
4807,WISE-TX1 Froedtert Memorial Lutheran Hospital,WISE-TX1 Froedtert Memorial Lutheran Hospital,429,107,0,7,23
4825,WISL-TX1 Aurora St. Luke's Medical Center,WISL-TX1 Aurora St. Luke's Medical Center,164,71,0,6,19
4844,WIUW-TX1 University of Wisconsin Hospital and ...,WIUW-TX1 University of Wisconsin Hospital and ...,736,84,14,19,9
4862,WVCA-TX1 Charleston Area Medical Center,WVCA-TX1 Charleston Area Medical Center,73,0,0,0,0
4878,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,41,0,0,0,1

In [76]:
donor_state

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,To Date,2021,2020,2019,2018,2017,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,NaN,"839,964","3,128","39,035","39,719","36,530","34,770",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,NaN,"494,379","1,802","22,817","23,401","21,167","19,849",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,NaN,"182,705",729,"8,906","8,896","8,250","8,082",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,NaN,"9,041",12,135,143,192,213,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,NaN,"25,513",68,827,872,835,789,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,NaN,"4,497",6,143,172,156,155,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,NaN,"4,438",6,140,164,156,145,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,NaN,59,0,3,8,0,10,...,0,0,0,0,0,0,0,0,0,0

In [77]:
cpra_score = cpra_score.drop(columns={'Unnamed: 2'})

cpra_score = cpra_score.rename(columns={'Unnamed: 0':'Center', 'Unnamed: 1':'CPRA_Score'})

cpra_score['Center'] = cpra_score['Center'].fillna(method='ffill')

cpra_score = cpra_score.dropna(subset=['CPRA_Score'])

cpra_score

,Center,CPRA_Score,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All CPRA,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,0,"56,345","55,446",0,550.0,993,0,0.0,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0
2,All Centers,1-19,"11,339","11,181",0,68.0,197,0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0
3,All Centers,20-79,"15,992","15,737",0,134.0,309,0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
4,All Centers,80-97,"5,627","5,522",0,70.0,107,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641,WVWU-TX1 West Virginia University Hospitals Inc.,0,19,19,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1642,WVWU-TX1 West Virginia University Hospitals Inc.,1-19,10,10,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1643,WVWU-TX1 West Virginia University Hospitals Inc.,20-79,10,10,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1644,WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,1,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1645,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,1,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
cpra_score = cpra_score[['Center','CPRA_Score','Kidney','Liver','Pancreas','Kidney / Pancreas','Heart']]

cpra_all_list = ['All_CPRA']

cpra_score = cpra_score[cpra_score['Center'].isin(all_list)== False]

cpra_score['Pancreas'] = cpra_score['Pancreas'].astype(int)

cpra_score['Kidney'] = cpra_score['Kidney'].str.replace(',','')

cpra_score['Kidney'] = cpra_score['Kidney'].astype(int)

cpra_score

,Center,CPRA_Score,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart
7,ALCH-TX1 Children's of Alabama,All CPRA,15,2,0,0,6
8,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0
9,ALCH-TX1 Children's of Alabama,20-79,1,0,0,0,0
10,ALCH-TX1 Children's of Alabama,98-100,5,0,0,0,0
12,ALUA-TX1 University of Alabama Hospital,All CPRA,1031,102,5,9,15
...,...,...,...,...,...,...,...
1641,WVWU-TX1 West Virginia University Hospitals Inc.,0,19,0,0,0,0
1642,WVWU-TX1 West Virginia University Hospitals Inc.,1-19,10,0,0,0,0
1643,WVWU-TX1 West Virginia University Hospitals Inc.,20-79,10,0,0,0,0
1644,WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,0,0,0,0
1645,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,0,0,0,0

In [89]:
center_time = pd.concat([wait_center,wait_time])

center_time

,Center,Type,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,State
37,ALCH-TX1 Children's of Alabama,All Types,15,2,0,0,6,NaN
38,ALCH-TX1 Children's of Alabama,Liver MELD / PELD <15,0,1,0,0,0,NaN
39,ALCH-TX1 Children's of Alabama,Liver MELD / PELD 20-24,0,1,0,0,0,NaN
40,ALCH-TX1 Children's of Alabama,Heart Status 1B,0,0,0,0,2,NaN
41,ALCH-TX1 Children's of Alabama,Heart Status 2,0,0,0,0,2,NaN
...,...,...,...,...,...,...,...,...
4807,WISE-TX1 Froedtert Memorial Lutheran Hospital,NaN,429,107,0,7,23,WISE-TX1 Froedtert Memorial Lutheran Hospital
4825,WISL-TX1 Aurora St. Luke's Medical Center,NaN,164,71,0,6,19,WISL-TX1 Aurora St. Luke's Medical Center
4844,WIUW-TX1 University of Wisconsin Hospital and ...,NaN,736,84,14,19,9,WIUW-TX1 University of Wisconsin Hospital and ...
4862,WVCA-TX1 Charleston Area Medical Center,NaN,73,0,0,0,0,WVCA-TX1 Charleston Area Medical Center
4878,WVWU-TX1 West Virginia University Hospitals Inc.,NaN,41,0,0,0,1,WVWU-TX1 West Virginia University Hospitals Inc.

In [90]:
import pandas as pd
import json

map_df = pd.read_json('mapjson.json')

map_df.head()

,_id,locations
0,{'$oid': '603864e38e40f56e2c4b4413'},"[{'State_Abv': 'AL', 'State': 'Alabama', 'All_..."

In [141]:
import json
# load data using Python JSON module
with open('mapjson.json','r') as f:
    data = json.loads(f.read())
# Flatten data
map_df = pd.json_normalize(data, record_path =['locations'])


center_df = map_df.copy()

center_df = center_df.rename(columns={'All_Centers_Hospital_Name':'Center'})

center_df

,State_Abv,State,All_Centers,Hospital_Name,Center,Address,link,Latitude,Longitude
0,AL,Alabama,ALAM-TX1,University of South Alabama Medical Center,ALAM-TX1 University of South Alabama Medical C...,"1261 Hillcrest Rd, Mobile, AL 36695",https://www.usahealthsystem.com/locations/univ...,30.663471,-88.190445
1,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637
2,AL,Alabama,ALUA-TX1,University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,"619 South 20th Street Birmingham, AL 35233",http://www.uabmedicine.org/locations/uab-hospital,33.511652,-86.896270
3,AL,Alabama,ALVA-TX1,Birmingham VA Medical Center,ALVA-TX1 Birmingham VA Medical Center,"700 19th St S, Birmingham, AL 35233",http://www.birmingham.va.gov/,33.505050,-86.801290
4,AR,Arkansas,ARBH-TX1,Baptist Medical Center,ARBH-TX1 Baptist Medical Center,"9601 Baptist Health Dr, Little Rock, AR 72205",https://www.baptist-health.com/location/baptis...,34.743831,-92.381004
...,...,...,...,...,...,...,...,...,...
340,WI,Wisconsin,WISE-TX1,Froedtert Memorial Lutheran Hospital,WISE-TX1 Froedtert Memorial Lutheran Hospital,"900 N 92nd St, Milwaukee, WI 53226",https://www.froedtert.com/locations/hospital/f...,43.044325,-88.026129
341,WI,Wisconsin,WISL-TX1,Aurora St. Luke's Medical Center,WISL-TX1 Aurora St. Luke's Medical Center,"2900 W Oklahoma Ave, Milwaukee, WI 53215",https://care.aurorahealthcare.org/locations/au...,42.989986,-87.950430
342,WI,Wisconsin,WIUW-TX1,University of Wisconsin Hospital and Clinics,WIUW-TX1 University of Wisconsin Hospital and ...,"600 Highland Ave, Madison, WI 53792",https://www.uwhealth.org/findadoctor/location/170,43.076375,-89.432005
343,WV,West Virginia,WVCA-TX1,Charleston Area Medical Center,WVCA-TX1 Charleston Area Medical Center,"800 Pennsylvania Ave, Charleston, WV 25302",http://www.camc.org/,38.359297,-81.637447
344,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433

In [142]:
merge_time = center_df.merge(center_time, on='Center', how='inner')

merge_time

,State_Abv,State_x,All_Centers,Hospital_Name,Center,Address,link,Latitude,Longitude,Type,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,State_y
0,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,All Types,15,2,0,0,6,NaN
1,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Liver MELD / PELD <15,0,1,0,0,0,NaN
2,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Liver MELD / PELD 20-24,0,1,0,0,0,NaN
3,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Heart Status 1B,0,0,0,0,2,NaN
4,AL,Alabama,ALCH-TX1,Children's of Alabama,ALCH-TX1 Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Heart Status 2,0,0,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2704,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433,All Types,41,0,0,0,1,NaN
2705,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433,Heart Status 7 (Inactive),0,0,0,0,1,NaN
2706,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433,Kidney/Pancreas/Kidney-Pancreas: Active,24,0,0,0,0,NaN
2707,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433,Kidney/Panc/Kidney-Panc: Temporarily inactive,17,0,0,0,0,NaN
2708,WV,West Virginia,WVWU-TX1,West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",http://www.wvu.edu/,38.328596,-81.604433,NaN,41,0,0,0,1,WVWU-TX1 West Virginia University Hospitals Inc.

In [156]:
final_df = cpra_score.merge(merge_time, on='Center',how='inner')

final_df = final_df.rename(columns={'Kidney_x':'Kidney_CPRA','Liver_x':'Liver_CPRA','Pancreas_x':'Pancreas_CPRA',
                                  'Kidney / Pancreas_x':'Kidney_Pancreas_CPRA'})

no_all_list = ['All Types']

Cpra_list = ['All CPRA']

final_df = final_df[final_df['Type'].isin(no_all_list) == False]

final_df = final_df[final_df['CPRA_Score'].isin(Cpra_list) == False]

final_df = final_df.dropna(subset=['Type'])

final_df

,Center,CPRA_Score,Kidney_CPRA,Liver_CPRA,Pancreas_CPRA,Kidney_Pancreas_CPRA,Heart_x,State_Abv,State_x,All_Centers,...,link,Latitude,Longitude,Type,Kidney_y,Liver_y,Pancreas_y,Kidney / Pancreas_y,Heart_y,State_y
10,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0,AL,Alabama,ALCH-TX1,...,https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Liver MELD / PELD <15,0,1,0,0,0,NaN
11,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0,AL,Alabama,ALCH-TX1,...,https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Liver MELD / PELD 20-24,0,1,0,0,0,NaN
12,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0,AL,Alabama,ALCH-TX1,...,https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Heart Status 1B,0,0,0,0,2,NaN
13,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0,AL,Alabama,ALCH-TX1,...,https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Heart Status 2,0,0,0,0,2,NaN
14,ALCH-TX1 Children's of Alabama,0,9,0,0,0,0,AL,Alabama,ALCH-TX1,...,https://www.childrensal.org/?utm_campaign=webs...,33.504689,-86.805637,Heart Status 7 (Inactive),0,0,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,0,0,0,0,WV,West Virginia,WVWU-TX1,...,http://www.wvu.edu/,38.328596,-81.604433,Kidney/Pancreas/Kidney-Pancreas: Active,24,0,0,0,0,NaN
15175,WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,0,0,0,0,WV,West Virginia,WVWU-TX1,...,http://www.wvu.edu/,38.328596,-81.604433,Kidney/Panc/Kidney-Panc: Temporarily inactive,17,0,0,0,0,NaN
15178,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,0,0,0,0,WV,West Virginia,WVWU-TX1,...,http://www.wvu.edu/,38.328596,-81.604433,Heart Status 7 (Inactive),0,0,0,0,1,NaN
15179,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,0,0,0,0,WV,West Virginia,WVWU-TX1,...,http://www.wvu.edu/,38.328596,-81.604433,Kidney/Pancreas/Kidney-Pancreas: Active,24,0,0,0,0,NaN
15180,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,0,0,0,0,WV,West Virginia,WVWU-TX1,...,http://www.wvu.edu/,38.328596,-81.604433,Kidney/Panc/Kidney-Panc: Temporarily inactive,17,0,0,0,0,NaN

In [157]:
print(final_df.columns)

Index(['Center', 'CPRA_Score', 'Kidney_CPRA', 'Liver_CPRA', 'Pancreas_CPRA',
       'Kidney_Pancreas_CPRA', 'Heart_x', 'State_Abv', 'State_x',
       'All_Centers', 'Hospital_Name', 'Address', 'link', 'Latitude',
       'Longitude', 'Type', 'Kidney_y', 'Liver_y', 'Pancreas_y',
       'Kidney / Pancreas_y', 'Heart_y', 'State_y'],
      dtype='object')

In [158]:
final_df = final_df.rename(columns={'Heart_x':'Heart_CPRA','Kidney_y':'Kidney_Wait_Time','Liver_y':'Liver_Wait_Time',
                                    'Pancreas_y':'Pancreas_Wait_Time','Kidney / Pancreas_y':'Kidney_Pancreas_Wait_Time',
                                    'Kidney_Pancreas_y':'Kidney_Pancreas_Wait_Time','State_x':'State'})

In [159]:


final_df = final_df[['State','Center','Hospital_Name','Address','CPRA_Score','link','Kidney_CPRA','Liver_CPRA','Pancreas_CPRA','Kidney_Pancreas_CPRA',
                    'Kidney_Wait_Time','Liver_Wait_Time','Pancreas_Wait_Time',
                     'Kidney_Pancreas_Wait_Time','Latitude','Longitude']]

final_df

,State,Center,Hospital_Name,Address,CPRA_Score,link,Kidney_CPRA,Liver_CPRA,Pancreas_CPRA,Kidney_Pancreas_CPRA,Kidney_Wait_Time,Liver_Wait_Time,Pancreas_Wait_Time,Kidney_Pancreas_Wait_Time,Latitude,Longitude
10,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,1,0,0,33.504689,-86.805637
11,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,1,0,0,33.504689,-86.805637
12,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,0,0,0,33.504689,-86.805637
13,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,0,0,0,33.504689,-86.805637
14,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,0,0,0,33.504689,-86.805637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",80-97,http://www.wvu.edu/,1,0,0,0,24,0,0,0,38.328596,-81.604433
15175,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",80-97,http://www.wvu.edu/,1,0,0,0,17,0,0,0,38.328596,-81.604433
15178,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",98-100,http://www.wvu.edu/,1,0,0,0,0,0,0,0,38.328596,-81.604433
15179,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",98-100,http://www.wvu.edu/,1,0,0,0,24,0,0,0,38.328596,-81.604433
15180,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",98-100,http://www.wvu.edu/,1,0,0,0,17,0,0,0,38.328596,-81.604433

In [160]:
final_df = final_df.sort_values('CPRA_Score')
final_df

,State,Center,Hospital_Name,Address,CPRA_Score,link,Kidney_CPRA,Liver_CPRA,Pancreas_CPRA,Kidney_Pancreas_CPRA,Kidney_Wait_Time,Liver_Wait_Time,Pancreas_Wait_Time,Kidney_Pancreas_Wait_Time,Latitude,Longitude
10,Alabama,ALCH-TX1 Children's of Alabama,Children's of Alabama,"1600 7th Avenue South Birmingham, AL 35233",0,https://www.childrensal.org/?utm_campaign=webs...,9,0,0,0,0,1,0,0,33.504689,-86.805637
11224,Pennsylvania,PASC-TX1 St. Christopher's Hospital for Children,St. Christopher's Hospital for Children,"160 E Erie Ave, Philadelphia, PA 19134",0,https://towerhealth.org/locations/st-christoph...,8,0,0,0,11,0,0,0,40.006279,-75.125633
4022,Idaho,IAMH-TX1 MercyOne Des Moines Transplant Center,MercyOne Des Moines Transplant Center,"East Tower, 1111 6th Ave, Des Moines, IA 50314",0,https://www.mercyone.org/desmoines/location/me...,5,0,1,2,2,0,1,1,41.598579,-93.622774
4023,Idaho,IAMH-TX1 MercyOne Des Moines Transplant Center,MercyOne Des Moines Transplant Center,"East Tower, 1111 6th Ave, Des Moines, IA 50314",0,https://www.mercyone.org/desmoines/location/me...,5,0,1,2,6,0,1,3,41.598579,-93.622774
11190,Pennsylvania,PARH-TX1 Reading Hospital,Reading Hospital,"371-399 S 7th Ave, West Reading, PA 19611",0,https://reading.towerhealth.org/,56,0,0,0,69,0,0,0,40.331164,-75.952028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,Maine,MABS-TX1 Baystate Medical Center,Baystate Medical Center,"759 Chestnut St, Springfield, MA 01199",98-100,https://www.baystatehealth.org/locations/bayst...,10,0,0,0,82,0,0,0,42.121522,-72.603006
5596,Maine,MABS-TX1 Baystate Medical Center,Baystate Medical Center,"759 Chestnut St, Springfield, MA 01199",98-100,https://www.baystatehealth.org/locations/bayst...,10,0,0,0,91,0,0,0,42.121522,-72.603006
5619,Maine,MABU-TX1 Boston Medical Center,Boston Medical Center,"One Boston Medical Center Pl, Boston, MA 02118",98-100,http://www.bmc.org/?utm_campaign=yextbuilding&...,15,0,0,0,119,0,0,0,42.334172,-71.074645
12641,Texas,"TXHH-TX1 Memorial Hermann Hospital, University...","Memorial Hermann Hospital, University of Texas...","6400 Fannin St #2210a, Houston, TX 77030",98-100,http://memorialhermann.org/,17,0,0,0,0,10,0,0,29.715378,-95.397128
15180,West Virginia,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia University Hospitals Inc.,"3110 MacCorkle Ave SE, Charleston, WV 25304",98-100,http://www.wvu.edu/,1,0,0,0,17,0,0,0,38.328596,-81.604433

In [153]:
final_df.to_csv('complete_set.csv',index=False)