In [1]:
import pandas as pd 
import numpy as np

In [2]:
survival_by_age = pd.read_csv('../Resources/Serv_by_Age.csv')
survival_by_age.head()

,Region\tOrgan\tRecipient\tYears\tNumber Functioning /\tSurvival\t95% Confidence,Unnamed: 1
0,\t\tAge\tPost Transplant\tAlive\tRate\tInterval,NaN
1,"U.S.\tHeart / Lung\t1-5 Years\t1 Year\t2\t*\t""(.",".)"""
2,"U.S.\tHeart / Lung\t6-10 Years\t1 Year\t1\t*\t""(.",".)"""
3,U.S.\tHeart / Lung\t11-17 Years\t1 Year\t11\t8...,"95.9)"""
4,U.S.\tHeart / Lung\t18-34 Years\t1 Year\t16\t8...,"92.0)"""

In [10]:
survival_by_diagnoses= pd.read_csv('../Resources/Serv_by_Diagnose.csv')
survival_by_diagnoses.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region,Organ,Recipient,Years,Number Functioning /,Survival,95% Confidence
1,NaN,NaN,Diagnose Category,Post Transplant,Alive,Rate,Interval
2,U.S.,Heart / Lung,Cardiomyopathy,1 Year,6,*,"(., .)"
3,U.S.,Heart / Lung,Congenital Heart Disease,1 Year,5,*,"(., .)"
4,U.S.,Heart / Lung,Coronary Artery Disease,1 Year,2,*,"(., .)"

In [12]:
survival_by_donor_type=  pd.read_csv('../Resources/Serv_by_Donor_Type.csv')
survival_by_donor_type.head()

,Region,Organ,Donor,Years,Number Functioning /,Survival,95% Confidence
0,NaN,NaN,Type,Post Transplant,Alive,Rate,Interval
1,U.S.,Kidney,Cadaveric,1 Year,42355,93.2,"(93.0, 93.4)"
2,U.S.,Kidney,Living,1 Year,21709,97.5,"(97.3, 97.7)"
3,U.S.,Kidney,Cadaveric,3 Year,35404,85.1,"(84.7, 85.4)"
4,U.S.,Kidney,Living,3 Year,20611,92.5,"(92.2, 92.9)"