In [45]:
import pandas as pd 
import numpy as np 
import os

In [46]:
cPRA = pd.read_csv('CPRA.csv')
cPRA.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All CPRA,NaN,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,0,NaN,"56,345","55,446",0,550.0,993,0,0.0,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0
2,NaN,1-19,NaN,"11,339","11,181",0,68.0,197,0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0
3,NaN,20-79,NaN,"15,992","15,737",0,134.0,309,0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
4,NaN,80-97,NaN,"5,627","5,522",0,70.0,107,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
dropped_columns= cPRA.drop(columns=['Unnamed: 2', 'Heart', 'Lung', 'Heart / Lung',
                   'Intestine', 'Abdominal Wall', 'Head & Neck: Craniofacial', 
                   'GU: Uterus', 'Upper Limb: Bilateral', 'Upper Limb: Unilateral', 'Face, Scalp'])
dropped_columns.head()

,Unnamed: 0,Unnamed: 1,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
0,All Centers,All CPRA,"107,888","91,242","11,896",897.0,"1,702"
1,NaN,0,"56,345","55,446",0,550.0,993
2,NaN,1-19,"11,339","11,181",0,68.0,197
3,NaN,20-79,"15,992","15,737",0,134.0,309
4,NaN,80-97,"5,627","5,522",0,70.0,107

In [48]:
dropped_columns = dropped_columns.rename(columns={'Unnamed: 0':'Med. Center','Unnamed: 1':'cPRA Values'})

dropped_columns

,Med. Center,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
0,All Centers,All CPRA,"107,888","91,242","11,896",897.0,"1,702"
1,NaN,0,"56,345","55,446",0,550.0,993
2,NaN,1-19,"11,339","11,181",0,68.0,197
3,NaN,20-79,"15,992","15,737",0,134.0,309
4,NaN,80-97,"5,627","5,522",0,70.0,107
...,...,...,...,...,...,...,...
1642,NaN,1-19,10,10,0,0.0,0
1643,NaN,20-79,10,10,0,0.0,0
1644,NaN,80-97,1,1,0,0.0,0
1645,NaN,98-100,1,1,0,0.0,0
1646,NaN,NaN,1,0,0,0.0,0

In [49]:
df = dropped_columns.copy()

df = pd.DataFrame(df)

df['Med. Center'] = df['Med. Center'].fillna(method='ffill')

df

,Med. Center,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
0,All Centers,All CPRA,"107,888","91,242","11,896",897.0,"1,702"
1,All Centers,0,"56,345","55,446",0,550.0,993
2,All Centers,1-19,"11,339","11,181",0,68.0,197
3,All Centers,20-79,"15,992","15,737",0,134.0,309
4,All Centers,80-97,"5,627","5,522",0,70.0,107
...,...,...,...,...,...,...,...
1642,WVWU-TX1 West Virginia University Hospitals Inc.,1-19,10,10,0,0.0,0
1643,WVWU-TX1 West Virginia University Hospitals Inc.,20-79,10,10,0,0.0,0
1644,WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,1,0,0.0,0
1645,WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,1,0,0.0,0
1646,WVWU-TX1 West Virginia University Hospitals Inc.,NaN,1,0,0,0.0,0

In [50]:
#filtering out the all center index 
not_all = ['All Centers']

#everthing but all center data 
df = df[df['Med. Center'].isin(not_all) == False]

df_index = df.set_index('Med. Center')

df_index

,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
Med. Center,,,,,,
ALCH-TX1 Children's of Alabama,All CPRA,22,15,2,0.0,0
ALCH-TX1 Children's of Alabama,0,9,9,0,0.0,0
ALCH-TX1 Children's of Alabama,20-79,1,1,0,0.0,0
ALCH-TX1 Children's of Alabama,98-100,5,5,0,0.0,0
ALCH-TX1 Children's of Alabama,NaN,8,0,2,0.0,0
...,...,...,...,...,...,...
WVWU-TX1 West Virginia University Hospitals Inc.,1-19,10,10,0,0.0,0
WVWU-TX1 West Virginia University Hospitals Inc.,20-79,10,10,0,0.0,0
WVWU-TX1 West Virginia University Hospitals Inc.,80-97,1,1,0,0.0,0
WVWU-TX1 West Virginia University Hospitals Inc.,98-100,1,1,0,0.0,0
WVWU-TX1 West Virginia University Hospitals Inc.,NaN,1,0,0,0.0,0

In [44]:
df_index = df_index.transpose()

df_index

Med. Center,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,ALCH-TX1 Children's of Alabama,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,ALUA-TX1 University of Alabama Hospital,...,WVCA-TX1 Charleston Area Medical Center,WVCA-TX1 Charleston Area Medical Center,WVCA-TX1 Charleston Area Medical Center,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.,WVWU-TX1 West Virginia University Hospitals Inc.
cPRA Values,All CPRA,0,20-79,98-100,NaN,All CPRA,0,1-19,20-79,80-97,...,80-97,NaN,98-100,All CPRA,0,1-19,20-79,80-97,98-100,NaN
All Organs,22,9,1,5,8,"1,152",630,46,196,55,...,5,NaN,6,42,19,10,10,1,1,1
Kidney,15,9,1,5,0,"1,031",622,46,196,53,...,5,NaN,6,41,19,10,10,1,1,0
Liver,2,0,0,0,2,102,0,0,0,0,...,0,NaN,0,0,0,0,0,0,0,0
Pancreas,0,0,0,0,0,5,3,0,0,2,...,0,NaN,0,0,0,0,0,0,0,0
Kidney / Pancreas,0,0,0,0,0,9,7,0,1,0,...,0,NaN,0,0,0,0,0,0,0,0

In [101]:
new_index= renamed_df.set_index('Med. Center')

new_index['cPRA Values'] = new_index['cPRA Values'].str.replace('All CPRA', '')

new_index.head(30)

,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
Med. Center,,,,,,
All Centers,,"107,888","91,242","11,896",897,"1,702"
-,0,"56,345","55,446",0,550,993
-,1-19,"11,339","11,181",0,68,197
-,20-79,"15,992","15,737",0,134,309
-,80-97,"5,627","5,522",0,70,107
-,98-100,"5,699","5,595",0,78,108
-,-,"16,404",0,"11,896",0,0
ALCH-TX1 Children's of Alabama,,22,15,2,0,0
-,0,9,9,0,0,0
-,20-79,1,1,0,0,0
-,98-100,5,5,0,0,0
-,-,8,0,2,0,0
ALUA-TX1 University of Alabama Hospital,,"1,152","1,031",102,5,9
-,0,630,622,0,3,7
-,1-19,46,46,0,0,0
-,20-79,196,196,0,0,1
-,80-97,55,53,0,2,0
-,98-100,115,114,0,0,1
-,-,125,0,102,0,0
ALVA-TX1 Birmingham VA Medical Center,,55,55,0,0,0
-,0,44,44,0,0,0
-,1-19,3,3,0,0,0
-,20-79,7,7,0,0,0
-,80-97,1,1,0,0,0
ARBH-TX1 Baptist Medical Center,,28,0,0,0,0
-,-,28,0,0,0,0
ARCH-TX1 Arkansas Children's Hospital,,6,4,0,0,0
-,0,1,1,0,0,0
-,1-19,3,3,0,0,0
-,-,2,0,0,0,0

In [87]:
# shifted_df= renamed_df.transpose()
# shifted_df.head(50)

# grouped= renamed_df.groupby('Med. Center')
# grouped.aggregate()
# renamed_df.unstack(renamed_df['cPRA Values'])

grouped_df = renamed_df.groupby(['Med. Center', 'cPRA Values'])
df = grouped_df.size().reset_index(name='n')
df.head(20)
# grouped_df = renamed_df.groupby(["Med. Center", "cPRA Values"])
# grouped_df.head(20)

                                          Med. Center cPRA Values    n
0                                                   -           -  222
1                                                   -           0  249
2                                                   -        1-19  227
3                                                   -       20-79  232
4                                                   -       80-97  226
5                                                   -      98-100  222
6                      ALCH-TX1 Children's of Alabama    All CPRA    1
7             ALUA-TX1 University of Alabama Hospital    All CPRA    1
8               ALVA-TX1 Birmingham VA Medical Center    All CPRA    1
9                     ARBH-TX1 Baptist Medical Center    All CPRA    1
10              ARCH-TX1 Arkansas Children's Hospital    All CPRA    1
11                       ARUA-TX1 UAMS Medical Center    All CPRA    1
12               AZCH-TX1 Phoenix Children's Hospital    All CPRA    1
13  AZGS-TX1 Banner-University Medical Center Phoenix    All CPRA    1
14           AZHH-TX1 Phoenix Regional Medical Center    All CPRA    1
15                      AZMC-TX1 Mayo Clinic Hospital    All CPRA    1
16  AZSJ-TX1 St. Joseph's Hospital and Medical Center    All CPRA    1
17              AZSM-TX1 Scottsdale Healthcare Osborn    All CPRA    1
18   AZUA-TX1 Banner University Medical Center-Tucson    All CPRA    1
19                                        All Centers    All CPRA    1

In [69]:
# stacked_df= renamed_df.stack()
# # stacked_CPRA= pd.DataFrame()
# stacked_df.to_frame().head(50)