In [1]:
import pandas as pd

In [2]:
csv_path_GODT = "GODT_downloads.csv"

GODT_df = pd.read_csv(csv_path_GODT, encoding="utf-8")

In [3]:
GODT_df.head()

,REGION,COUNTRY,REPORTYEAR,POPULATION,TOTAL Actual DD,Actual DBD,Actual DCD,Total Utilized DD,Utilized DBD,Utilized DCD,...,DOMINO Liver Tx,LD Liver Tx,TOTAL Liver TX,Total Heart TX,DD Lung Tx,LD Lung Tx,TOTAL Lung Tx,Pancreas Tx,Kidney Pancreas Tx,Small Bowel Tx
0,America,United States of America,2009,314.7,8022,7102,920,NaN,NaN,NaN,...,NaN,219,6330,2211,NaN,NaN,1660,NaN,854,180
1,America,United States of America,2010,317.6,7943,7000,943,NaN,NaN,NaN,...,NaN,282,6291,2333,NaN,NaN,1770,NaN,828,151
2,America,United States of America,2011,313.1,8126,7069,1057,NaN,NaN,NaN,...,11.0,247,6342,2349,1848.0,1.0,1850,1082.0,795,129
3,America,United States of America,2012,315.8,8143,7036,1107,NaN,NaN,NaN,...,10.0,236,6256,2407,1782.0,1.0,1783,1043.0,801,106
4,America,United States of America,2013,320.1,8269,7062,1207,7795.0,6750.0,1045.0,...,8.0,244,6455,2554,1945.0,1.0,1946,1018.0,726,109