In [1]:
import pandas as pd

-------------------------------------------------------------------------------------------------------------------------------

1: All Donor Types

-------------------------------------------------------------------------------------------------------------------------------

In [2]:
csv_path_type1 = "Transplants_by_Donor_Type_1_All_Donor_Types.csv"

type1_df = pd.read_csv(csv_path_type1, encoding="utf-8")

type1_df.head(30)

,Unnamed: 0,Unnamed: 1,To Date,2021,2020,2019,2018,2017,2016,2015,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Organs,NaN,"839,964","3,128","39,035","39,719","36,530","34,770","33,610","30,974",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,Kidney,NaN,"494,379","1,802","22,817","23,401","21,167","19,849","19,060","17,878",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,Liver,NaN,"182,705",729,"8,906","8,896","8,250","8,082","7,841","7,127",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,Pancreas,NaN,"9,041",12,135,143,192,213,215,228,...,210,164,109,95,112,64,78,69,82,78
4,Kidney / Pancreas,NaN,"25,513",68,827,872,835,789,798,719,...,852,861,919,748,661,493,452,459,335,171
5,Heart,NaN,"79,872",310,"3,658","3,552","3,408","3,244","3,191","2,804",...,"2,293","2,343","2,363","2,340","2,297","2,170","2,127","2,107","1,705","1,676"
6,Lung,NaN,"43,785",200,"2,539","2,714","2,530","2,449","2,327","2,057",...,932,815,872,724,667,535,405,203,93,33
7,Heart / Lung,NaN,"1,365",2,58,45,32,29,18,15,...,62,39,69,71,60,48,51,52,67,74
8,Intestine,NaN,"3,194",4,91,81,104,109,147,141,...,68,45,46,23,34,22,12,5,0,0
9,Abdominal Wall,NaN,20,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,Head & Neck: Craniofacial,NaN,18,1,1,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
11,Head & Neck: Scalp,NaN,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,Head & Neck: Larynx,NaN,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,GU: Penile,NaN,2,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,GU: Uterus,NaN,31,0,2,12,7,4,6,0,...,0,0,0,0,0,0,0,0,0,0
15,Upper Limb: Bilateral,NaN,17,0,0,1,1,1,3,1,...,0,0,0,0,0,0,0,0,0,0
16,Upper Limb: Unilateral,NaN,18,0,0,1,0,0,2,1,...,0,0,0,0,0,0,0,0,0,0
17,"Bilateral Limb, Face",NaN,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Fix names

type1_df = type1_df.rename(columns={"Unnamed: 0": "Organ"})

del type1_df['Unnamed: 1']

In [4]:
#Remove unused organs

type1_df = type1_df[type1_df.Organ != "All Organs"]

type1_df = type1_df[type1_df.Organ != "Lung"]

type1_df = type1_df[type1_df.Organ != "Heart / Lung	"]

type1_df = type1_df[type1_df.Organ != "Intestine"]

type1_df = type1_df[type1_df.Organ != "Abdominal Wall"]

type1_df = type1_df[type1_df.Organ != "Head & Neck: Craniofacial"]

type1_df = type1_df[type1_df.Organ != "Head & Neck: Scalp"]

type1_df = type1_df[type1_df.Organ != "Head & Neck: Larynx"]

type1_df = type1_df[type1_df.Organ != "GU: Penile"]

type1_df = type1_df[type1_df.Organ != "GU: Uterus"]

type1_df = type1_df[type1_df.Organ != "Lung"]

type1_df = type1_df[type1_df.Organ != "Upper Limb: Bilateral"]

type1_df = type1_df[type1_df.Organ != "Upper Limb: Unilateral"]

type1_df = type1_df[type1_df.Organ != "Bilateral Limb, Face"]

type1_df.head(50)

,Organ,To Date,2021,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
1,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060","17,878","17,108",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841","7,127","6,730",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,Pancreas,"9,041",12,135,143,192,213,215,228,245,...,210,164,109,95,112,64,78,69,82,78
4,Kidney / Pancreas,"25,513",68,827,872,835,789,798,719,709,...,852,861,919,748,661,493,452,459,335,171
5,Heart,"79,872",310,"3,658","3,552","3,408","3,244","3,191","2,804","2,655",...,"2,293","2,343","2,363","2,340","2,297","2,170","2,127","2,107","1,705","1,676"
7,Heart / Lung,"1,365",2,58,45,32,29,18,15,24,...,62,39,69,71,60,48,51,52,67,74

In [5]:
type1_df.to_csv("Cleaned/Transplants_by_Donor_Type_1_All_Donor_Types_df_clean.csv",encoding="utf-8", index=False, header=True)

-------------------------------------------------------------------------------------------------------------------------------

2: Deceased Donor

-------------------------------------------------------------------------------------------------------------------------------

In [6]:
csv_path_type2 = "Transplants_by_Donor_Type_2_Deceased_Donor.csv"

type2_df = pd.read_csv(csv_path_type2, encoding="utf-8")

type2_df.head(30)

,Unnamed: 0,Unnamed: 1,To Date,2021,2020,2019,2018,2017,2016,2015,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Organs,NaN,"667,687","2,695","33,309","32,322","29,681","28,588","27,630","24,985",...,"16,266","15,983","15,921","15,211","14,733","13,563","13,329","12,878","11,222","10,794"
1,Kidney,NaN,"330,375","1,410","17,583","16,534","14,725","14,038","13,431","12,250",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
2,Liver,NaN,"174,863",688,"8,415","8,372","7,849","7,715","7,496","6,768",...,"4,101","4,022","3,880","3,592","3,404","3,031","2,931","2,676","2,200","1,713"
3,Pancreas,NaN,"9,017",12,135,143,192,213,215,228,...,210,163,108,95,110,61,77,67,78,73
4,Kidney / Pancreas,NaN,"25,465",68,827,872,835,789,798,719,...,846,851,913,746,661,493,452,459,335,171
5,Heart,NaN,"79,829",310,"3,658","3,552","3,408","3,242","3,190","2,804",...,"2,293","2,342","2,363","2,337","2,295","2,169","2,123","2,095","1,696","1,669"
6,Lung,NaN,"43,532",200,"2,539","2,714","2,530","2,449","2,327","2,057",...,911,791,848,708,660,535,401,202,93,33
7,Heart / Lung,NaN,"1,365",2,58,45,32,29,18,15,...,62,39,69,71,60,48,51,52,67,74
8,Intestine,NaN,"3,150",4,91,81,104,108,147,139,...,66,43,45,23,34,22,12,5,0,0
9,Abdominal Wall,NaN,20,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,Head & Neck: Craniofacial,NaN,18,1,1,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
11,Head & Neck: Scalp,NaN,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,Head & Neck: Larynx,NaN,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,GU: Penile,NaN,2,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,GU: Uterus,NaN,12,0,1,6,1,3,1,0,...,0,0,0,0,0,0,0,0,0,0
15,Upper Limb: Bilateral,NaN,17,0,0,1,1,1,3,1,...,0,0,0,0,0,0,0,0,0,0
16,Upper Limb: Unilateral,NaN,18,0,0,1,0,0,2,1,...,0,0,0,0,0,0,0,0,0,0
17,"Bilateral Limb, Face",NaN,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Fix names

type2_df = type2_df.rename(columns={"Unnamed: 0": "Organ"})

del type2_df['Unnamed: 1']

In [8]:
#Remove unused organs

type2_df = type2_df[type2_df.Organ != "All Organs"]

type2_df = type2_df[type2_df.Organ != "Lung"]

type2_df = type2_df[type2_df.Organ != "Heart / Lung	"]

type2_df = type2_df[type2_df.Organ != "Intestine"]

type2_df = type2_df[type2_df.Organ != "Abdominal Wall"]

type2_df = type2_df[type2_df.Organ != "Head & Neck: Craniofacial"]

type2_df = type2_df[type2_df.Organ != "Head & Neck: Scalp"]

type2_df = type2_df[type2_df.Organ != "Head & Neck: Larynx"]

type2_df = type2_df[type2_df.Organ != "GU: Penile"]

type2_df = type2_df[type2_df.Organ != "GU: Uterus"]

type2_df = type2_df[type2_df.Organ != "Lung"]

type2_df = type2_df[type2_df.Organ != "Upper Limb: Bilateral"]

type2_df = type2_df[type2_df.Organ != "Upper Limb: Unilateral"]

type2_df = type2_df[type2_df.Organ != "Bilateral Limb, Face"]

type2_df.head(50)

,Organ,To Date,2021,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
1,Kidney,"330,375","1,410","17,583","16,534","14,725","14,038","13,431","12,250","11,570",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
2,Liver,"174,863",688,"8,415","8,372","7,849","7,715","7,496","6,768","6,450",...,"4,101","4,022","3,880","3,592","3,404","3,031","2,931","2,676","2,200","1,713"
3,Pancreas,"9,017",12,135,143,192,213,215,228,245,...,210,163,108,95,110,61,77,67,78,73
4,Kidney / Pancreas,"25,465",68,827,872,835,789,798,719,709,...,846,851,913,746,661,493,452,459,335,171
5,Heart,"79,829",310,"3,658","3,552","3,408","3,242","3,190","2,804","2,655",...,"2,293","2,342","2,363","2,337","2,295","2,169","2,123","2,095","1,696","1,669"
7,Heart / Lung,"1,365",2,58,45,32,29,18,15,24,...,62,39,69,71,60,48,51,52,67,74

In [14]:
type2_df.to_csv("Cleaned/Transplants_by_Donor_Type_2_Deceased_Donor.csv",encoding="utf-8", index=False, header=True)

-------------------------------------------------------------------------------------------------------------------------------

3: Living Donor

-------------------------------------------------------------------------------------------------------------------------------

In [10]:
csv_path_type3 = "Transplants_by_Donor_Type_3_Living_Donor.csv"

type3_df = pd.read_csv(csv_path_type3, encoding="utf-8")

type3_df.head(30)

,Unnamed: 0,Unnamed: 1,To Date,2021,2020,2019,2018,2017,2016,2015,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Organs,NaN,"172,277",433.0,"5,726","7,397","6,849","6,182","5,980","5,989",...,"4,050","3,782","3,475","3,088","2,898","2,571","2,427","2,123","1,918","1,829"
1,Kidney,NaN,"164,004",392.0,"5,234","6,867","6,442","5,811","5,629","5,628",...,"3,933","3,679","3,389","3,007","2,851","2,534","2,396","2,094","1,903","1,817"
2,Liver,NaN,"7,842",41.0,491,524,401,367,345,359,...,88,65,54,60,36,33,22,14,2,0
3,Pancreas,NaN,24,0.0,0,0,0,0,0,0,...,0,1,1,0,2,3,1,2,4,5
4,Kidney / Pancreas,NaN,48,0.0,0,0,0,0,0,0,...,6,10,6,2,0,0,0,0,0,0
5,Heart,NaN,43,0.0,0,0,0,2,1,0,...,0,1,0,3,2,1,4,12,9,7
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lung,NaN,253,0.0,0,0,0,0,0,0,...,21,24,24,16,7,0,4,1,0,0
8,Intestine,NaN,44,0.0,0,0,0,1,0,2,...,2,2,1,0,0,0,0,0,0,0
9,GU: Uterus,NaN,19,0.0,1,6,6,1,5,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Fix names

type3_df = type3_df.rename(columns={"Unnamed: 0": "Organ"})

del type3_df['Unnamed: 1']

In [12]:
#Remove unused organs

type3_df = type3_df[type3_df.Organ != "All Organs"]

type3_df = type3_df[type3_df.Organ != "Lung"]

type3_df = type3_df[type3_df.Organ != "Heart / Lung	"]

type3_df = type3_df[type3_df.Organ != "Intestine"]

type3_df = type3_df[type3_df.Organ != "Abdominal Wall"]

type3_df = type3_df[type3_df.Organ != "Head & Neck: Craniofacial"]

type3_df = type3_df[type3_df.Organ != "Head & Neck: Scalp"]

type3_df = type3_df[type3_df.Organ != "Head & Neck: Larynx"]

type3_df = type3_df[type3_df.Organ != "GU: Penile"]

type3_df = type3_df[type3_df.Organ != "GU: Uterus"]

type3_df = type3_df[type3_df.Organ != "Lung"]

type3_df = type3_df[type3_df.Organ != "Upper Limb: Bilateral"]

type3_df = type3_df[type3_df.Organ != "Upper Limb: Unilateral"]

type3_df = type3_df[type3_df.Organ != "Bilateral Limb, Face"]

type3_df = type3_df[type3_df.Organ != "NaN"]

type3_df.head(50)

,Organ,To Date,2021,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
1,Kidney,"164,004",392.0,"5,234","6,867","6,442","5,811","5,629","5,628","5,538",...,"3,933","3,679","3,389","3,007","2,851","2,534","2,396","2,094","1,903","1,817"
2,Liver,"7,842",41.0,491,524,401,367,345,359,280,...,88,65,54,60,36,33,22,14,2,0
3,Pancreas,24,0.0,0,0,0,0,0,0,0,...,0,1,1,0,2,3,1,2,4,5
4,Kidney / Pancreas,48,0.0,0,0,0,0,0,0,0,...,6,10,6,2,0,0,0,0,0,0
5,Heart,43,0.0,0,0,0,2,1,0,0,...,0,1,0,3,2,1,4,12,9,7
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
type3_df.to_csv("Cleaned/Transplants_by_Donor_Type_3_Living_Donor_df_clean.csv",encoding="utf-8", index=False, header=True)