In [1]:
import os
import csv
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
wait_times = pd.read_csv('Wait_Times_By_Centers.csv')

wait_times = pd.DataFrame(wait_times)

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,NaN,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,NaN,< 30 Days,NaN,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,30 to < 90 Days,NaN,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,90 Days to < 6 Months,NaN,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,6 Months to < 1 Year,NaN,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,NaN,NaN,< 30 Days,NaN,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,NaN,NaN,30 to < 90 Days,NaN,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,NaN,NaN,90 Days to < 6 Months,NaN,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,NaN,NaN,6 Months to < 1 Year,NaN,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,NaN,NaN,1 Year to < 2 Years,NaN,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
list(wait_times.columns)

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'All Organs',
 'Kidney',
 'Liver',
 'Pancreas',
 'Kidney / Pancreas',
 'Heart',
 'Lung',
 'Heart / Lung',
 'Intestine',
 'Abdominal Wall',
 'Head & Neck: Craniofacial',
 'GU: Uterus',
 'Upper Limb: Bilateral',
 'Upper Limb: Unilateral',
 'Face, Scalp']

In [4]:
wait_times = wait_times.drop(columns='Unnamed: 3')

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,NaN,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,NaN,NaN,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,NaN,NaN,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,NaN,NaN,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,NaN,NaN,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,NaN,NaN,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
wait_times['Unnamed: 0'] = wait_times['Unnamed: 0'].fillna(method='ffill')

wait_times['Unnamed: 1'] = wait_times['Unnamed: 1'].fillna(method='ffill')

wait_times

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,All Center States,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,All Centers,All Center States,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,All Centers,All Center States,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,All Centers,All Center States,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
wait_times = wait_times.rename(columns={'Unnamed: 0':'Center Name','Unnamed: 1':'Center States','Unnamed: 2':'Wait Time'})

wait_times

,Center Name,Center States,Wait Time,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All Center States,All Time,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,All Centers,All Center States,< 30 Days,"4,668","3,281",878,50.0,127,329,192.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,All Centers,All Center States,30 to < 90 Days,"6,538","4,979","1,032",58.0,149,365,148.0,6.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
3,All Centers,All Center States,90 Days to < 6 Months,"10,360","8,158","1,563",90.0,236,445,153.0,6.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,All Centers,All Center States,6 Months to < 1 Year,"14,171","11,530","1,976",110.0,302,482,117.0,7.0,31.0,1.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,2,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,4,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,10,9,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,23,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,3,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
wait_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Center Name                4884 non-null   object
 1   Center States              4884 non-null   object
 2   Wait Time                  4768 non-null   object
 3   All Organs                 4768 non-null   object
 4   Kidney                     4768 non-null   object
 5   Liver                      4768 non-null   object
 6   Pancreas                   4768 non-null   float64
 7   Kidney / Pancreas          4768 non-null   object
 8   Heart                      4768 non-null   object
 9   Lung                       4768 non-null   float64
 10  Heart / Lung               4768 non-null   float64
 11  Intestine                  4768 non-null   float64
 12  Abdominal Wall             4768 non-null   float64
 13  Head & Neck: Craniofacial  4768 non-null   float64
 14  GU: Uterus                 4768 non-null   float64
 15  Upper Limb: Bilateral      4768 non-null   float64
 16  Upper Limb: Unilateral     4768 non-null   float64
 17  Face, Scalp                4768 non-null   float64
dtypes: float64(10), object(8)
memory usage: 686.9+ KB

In [42]:
final_df = wait_times[['Center Name','Center States','Wait Time','Kidney','Liver','Pancreas','Heart']]

final_df = pd.DataFrame(final_df)

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,"91,242","11,896",897.0,"3,515"
1,All Centers,All Center States,< 30 Days,"3,281",878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,"4,979","1,032",58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,"8,158","1,563",90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,"11,530","1,976",110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [43]:
final_df['Kidney']=final_df['Kidney'].str.replace(',','')

final_df['Liver']=final_df['Liver'].str.replace(',','')

final_df['Heart']=final_df['Heart'].str.replace(',','')

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,91242,11896,897.0,3515
1,All Centers,All Center States,< 30 Days,3281,878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,4979,1032,58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,8158,1563,90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,11530,1976,110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [44]:
mean_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4768 entries, 0 to 4883
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Center Name    4768 non-null   object
 1   Center States  4768 non-null   object
 2   Wait Time      4768 non-null   object
 3   Kidney         4768 non-null   int64
 4   Liver          4768 non-null   int64
 5   Pancreas       4768 non-null   int64
 6   Heart          4768 non-null   int64
dtypes: int64(4), object(3)
memory usage: 458.0+ KB

In [45]:
final_df = final_df.dropna(subset=['Wait Time'])

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
0,All Centers,All Center States,All Time,91242,11896,897.0,3515
1,All Centers,All Center States,< 30 Days,3281,878,50.0,329
2,All Centers,All Center States,30 to < 90 Days,4979,1032,58.0,365
3,All Centers,All Center States,90 Days to < 6 Months,8158,1563,90.0,445
4,All Centers,All Center States,6 Months to < 1 Year,11530,1976,110.0,482
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [46]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4768 entries, 0 to 4883
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Center Name    4768 non-null   object
 1   Center States  4768 non-null   object
 2   Wait Time      4768 non-null   object
 3   Kidney         4768 non-null   object
 4   Liver          4768 non-null   object
 5   Pancreas       4768 non-null   float64
 6   Heart          4768 non-null   object
dtypes: float64(1), object(6)
memory usage: 298.0+ KB

In [59]:
final_df['Kidney'].astype(int)
final_df['Liver'].astype(int)
final_df['Heart'].astype(int)
final_df['Pancreas'].astype(int)

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
459,ALCH-TX1 Children's of Alabama,Alabama,All Time,15,2,0.0,6
460,ALCH-TX1 Children's of Alabama,Alabama,< 30 Days,2,0,0.0,1
461,ALCH-TX1 Children's of Alabama,Alabama,30 to < 90 Days,0,1,0.0,0
463,ALCH-TX1 Children's of Alabama,Alabama,90 Days to < 6 Months,3,0,0.0,0
464,ALCH-TX1 Children's of Alabama,Alabama,6 Months to < 1 Year,3,0,0.0,2
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [138]:
center_list = ['All Centers']

not_ACS_list = ['All Center States']

final_df = final_df[final_df['Center Name'].isin(center_list) == False]

final_df = final_df[final_df['Center States'].isin(not_ACS_list) == False]

final_df

,Center Name,Center States,Wait Time,Kidney,Liver,Pancreas,Heart
459,ALCH-TX1 Children's of Alabama,Alabama,All Time,15,2,0.0,6
460,ALCH-TX1 Children's of Alabama,Alabama,< 30 Days,2,0,0.0,1
461,ALCH-TX1 Children's of Alabama,Alabama,30 to < 90 Days,0,1,0.0,0
463,ALCH-TX1 Children's of Alabama,Alabama,90 Days to < 6 Months,3,0,0.0,0
464,ALCH-TX1 Children's of Alabama,Alabama,6 Months to < 1 Year,3,0,0.0,2
...,...,...,...,...,...,...,...
4879,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,< 30 Days,2,0,0.0,0
4880,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,30 to < 90 Days,4,0,0.0,0
4881,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,90 Days to < 6 Months,9,0,0.0,1
4882,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,6 Months to < 1 Year,23,0,0.0,0
4883,WVWU-TX1 West Virginia University Hospitals Inc.,West Virginia,1 Year to < 2 Years,3,0,0.0,0

In [139]:
final_df.to_csv('clean_data/clean_wait_list.csv')

In [140]:
dtm_df = pd.read_csv('Transplants_by_Donor_Type money.csv')

dtm_state = pd.read_csv('Transplants_by_Donor_Type state.csv')

dtm_state

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,To Date,2021,2020,2019,2018,2017,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,NaN,"839,964","3,128","39,035","39,719","36,530","34,770",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,NaN,"494,379","1,802","22,817","23,401","21,167","19,849",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,NaN,"182,705",729,"8,906","8,896","8,250","8,082",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,NaN,"9,041",12,135,143,192,213,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,NaN,"25,513",68,827,872,835,789,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,NaN,351,0,3,8,12,4,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,NaN,"4,497",6,143,172,156,155,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,NaN,"4,438",6,140,164,156,145,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,NaN,59,0,3,8,0,10,...,0,0,0,0,0,0,0,0,0,0

In [141]:
dtm_state = dtm_state.drop(columns='Unnamed: 3')

dtm_state = dtm_state.rename(columns={'Unnamed: 0':'Donor Type','Unnamed: 1':'Center States','Unnamed: 2':'Organ Type'})

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [142]:
dtm_state = pd.DataFrame(dtm_state)

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,NaN,NaN,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,NaN,NaN,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,NaN,NaN,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,NaN,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,NaN,NaN,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,NaN,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,NaN,NaN,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,NaN,NaN,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [143]:
dtm_state['Donor Type'] = dtm_state['Donor Type'].fillna(method='ffill')

dtm_state['Center States'] = dtm_state['Center States'].fillna(method='ffill')

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Center States,All Organs,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,All Donor Types,All Center States,Kidney,"494,379","1,802","22,817","23,401","21,167","19,849","19,060",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
2,All Donor Types,All Center States,Liver,"182,705",729,"8,906","8,896","8,250","8,082","7,841",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
3,All Donor Types,All Center States,Pancreas,"9,041",12,135,143,192,213,215,...,210,164,109,95,112,64,78,69,82,78
4,All Donor Types,All Center States,Kidney / Pancreas,"25,513",68,827,872,835,789,798,...,852,861,919,748,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Living Donor,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,Living Donor,West Virginia,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,Living Donor,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,Living Donor,Wisconsin,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,Living Donor,Wisconsin,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [144]:
state_not_all_types = ['All Donor Types']

state_not_all_centers = ['All Center States']

state_not_all_organs = ['All Organs']

dtm_state = dtm_state[dtm_state['Donor Type'].isin(state_not_all_types) == False]

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
421,Deceased Donor,All Center States,All Organs,"667,687","2,695","33,309","32,322","29,681","28,588","27,630",...,"16,266","15,983","15,921","15,211","14,733","13,563","13,329","12,878","11,222","10,794"
422,Deceased Donor,All Center States,Kidney,"330,375","1,410","17,583","16,534","14,725","14,038","13,431",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
423,Deceased Donor,All Center States,Liver,"174,863",688,"8,415","8,372","7,849","7,715","7,496",...,"4,101","4,022","3,880","3,592","3,404","3,031","2,931","2,676","2,200","1,713"
424,Deceased Donor,All Center States,Pancreas,"9,017",12,135,143,192,213,215,...,210,163,108,95,110,61,77,67,78,73
425,Deceased Donor,All Center States,Kidney / Pancreas,"25,465",68,827,872,835,789,798,...,846,851,913,746,661,493,452,459,335,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Living Donor,West Virginia,All Organs,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1012,Living Donor,West Virginia,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1013,Living Donor,Wisconsin,All Organs,"4,497",6,143,172,156,155,158,...,132,152,93,89,84,85,79,71,64,83
1014,Living Donor,Wisconsin,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,Living Donor,Wisconsin,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [145]:
dtm_state = dtm_state[dtm_state['Organ Type'].isin(state_not_all_organs) == False]

dtm_state

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
422,Deceased Donor,All Center States,Kidney,"330,375","1,410","17,583","16,534","14,725","14,038","13,431",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
423,Deceased Donor,All Center States,Liver,"174,863",688,"8,415","8,372","7,849","7,715","7,496",...,"4,101","4,022","3,880","3,592","3,404","3,031","2,931","2,676","2,200","1,713"
424,Deceased Donor,All Center States,Pancreas,"9,017",12,135,143,192,213,215,...,210,163,108,95,110,61,77,67,78,73
425,Deceased Donor,All Center States,Kidney / Pancreas,"25,465",68,827,872,835,789,798,...,846,851,913,746,661,493,452,459,335,171
426,Deceased Donor,All Center States,Heart,"79,829",310,"3,658","3,552","3,408","3,242","3,190",...,"2,293","2,342","2,363","2,337","2,295","2,169","2,123","2,095","1,696","1,669"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,Living Donor,Washington,Liver,20,1,7,1,1,4,2,...,0,0,0,0,0,0,0,0,0,0
1010,Living Donor,Washington,Heart,5,0,0,0,0,0,0,...,0,0,0,1,0,1,2,1,0,0
1012,Living Donor,West Virginia,Kidney,351,0,3,8,12,4,6,...,14,15,7,8,10,6,10,10,11,10
1014,Living Donor,Wisconsin,Kidney,"4,438",6,140,164,156,145,155,...,132,152,93,89,84,85,79,71,64,83
1015,Living Donor,Wisconsin,Liver,59,0,3,8,0,10,3,...,0,0,0,0,0,0,0,0,0,0

In [146]:
dtm_df = dtm_df.drop(columns='Unnamed: 3')

dtm_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Organs,All Primary Payers,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Donation,211,0,3,3,2,5,4,...,14,17,18,12,1,0,2,1,3,0
2,NaN,NaN,Foreign Government Specify,"1,820",2,84,112,94,112,120,...,29,25,30,12,3,1,1,0,0,1
3,NaN,NaN,Free Care,"1,097",1,20,15,13,14,17,...,56,62,76,77,13,8,2,1,2,1
4,NaN,NaN,Pending,9,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,NaN,NaN,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,NaN,NaN,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,NaN,NaN,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,NaN,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,NaN,NaN,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [147]:
dtm_df = dtm_df.rename(columns={'Unnamed: 0':'Donor Type','Unnamed: 1':'Organ Type','Unnamed: 2':'Payment'})


dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Organs,All Primary Payers,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,NaN,NaN,Donation,211,0,3,3,2,5,4,...,14,17,18,12,1,0,2,1,3,0
2,NaN,NaN,Foreign Government Specify,"1,820",2,84,112,94,112,120,...,29,25,30,12,3,1,1,0,0,1
3,NaN,NaN,Free Care,"1,097",1,20,15,13,14,17,...,56,62,76,77,13,8,2,1,2,1
4,NaN,NaN,Pending,9,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,NaN,NaN,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,NaN,NaN,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,NaN,NaN,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,NaN,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,NaN,NaN,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [148]:
dtm_df['Donor Type'] = dtm_df['Donor Type'].fillna(method='ffill')

dtm_df['Organ Type'] = dtm_df['Organ Type'].fillna(method='ffill')

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Donor Types,All Organs,All Primary Payers,"839,964","3,128","39,035","39,719","36,530","34,770","33,610",...,"20,316","19,765","19,396","18,299","17,631","16,134","15,756","15,001","13,140","12,623"
1,All Donor Types,All Organs,Donation,211,0,3,3,2,5,4,...,14,17,18,12,1,0,2,1,3,0
2,All Donor Types,All Organs,Foreign Government Specify,"1,820",2,84,112,94,112,120,...,29,25,30,12,3,1,1,0,0,1
3,All Donor Types,All Organs,Free Care,"1,097",1,20,15,13,14,17,...,56,62,76,77,13,8,2,1,2,1
4,All Donor Types,All Organs,Pending,9,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [149]:
dtm_not_all_type = ['All Donor Types']

dtm_not_all_organs = ['All Organs']

dtm_not_all_primary = ['All Primary Payers']

dtm_df = dtm_df[dtm_df['Donor Type'].isin(dtm_not_all_type)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
157,Deceased Donor,All Organs,All Primary Payers,"667,687","2,695","33,309","32,322","29,681","28,588","27,630",...,"16,266","15,983","15,921","15,211","14,733","13,563","13,329","12,878","11,222","10,794"
158,Deceased Donor,All Organs,Donation,162,0,1,3,1,4,3,...,12,16,16,11,1,0,2,1,3,0
159,Deceased Donor,All Organs,Foreign Government Specify,"1,471",2,72,94,62,91,94,...,25,24,28,11,3,0,1,0,0,1
160,Deceased Donor,All Organs,Free Care,960,0,20,13,12,12,13,...,53,57,74,72,13,8,2,0,2,1
161,Deceased Donor,All Organs,Pending,8,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [150]:
dtm_df = dtm_df[dtm_df['Organ Type'].isin(dtm_not_all_organs)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
174,Deceased Donor,Kidney,All Primary Payers,"330,375","1,410","17,583","16,534","14,725","14,038","13,431",...,"7,777","7,732","7,695","7,639","7,509","7,204","7,282","7,322","6,753","7,061"
175,Deceased Donor,Kidney,Donation,27,0,0,1,0,1,1,...,2,2,3,0,0,0,0,0,0,0
176,Deceased Donor,Kidney,Foreign Government Specify,257,0,13,11,11,14,22,...,7,4,1,2,0,0,0,0,0,0
177,Deceased Donor,Kidney,Free Care,112,0,1,1,4,2,4,...,6,1,10,11,0,0,0,0,0,0
178,Deceased Donor,Kidney,Pending,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
397,Living Donor,GU: Uterus,All Primary Payers,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [151]:
dtm_df = dtm_df[dtm_df['Payment'].isin(dtm_not_all_primary)== False]

dtm_df

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
175,Deceased Donor,Kidney,Donation,27,0,0,1,0,1,1,...,2,2,3,0,0,0,0,0,0,0
176,Deceased Donor,Kidney,Foreign Government Specify,257,0,13,11,11,14,22,...,7,4,1,2,0,0,0,0,0,0
177,Deceased Donor,Kidney,Free Care,112,0,1,1,4,2,4,...,6,1,10,11,0,0,0,0,0,0
178,Deceased Donor,Kidney,Pending,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
179,Deceased Donor,Kidney,Private insurance,"75,301",178,"4,342","3,701","3,207","3,034","2,815",...,"2,144","2,059","1,984","1,494",59,22,9,21,13,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Living Donor,Intestine,Private insurance,22,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
394,Living Donor,Intestine,Public insurance - Medicaid,19,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
395,Living Donor,Intestine,Public insurance - Medicare Unspecified,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,Living Donor,Intestine,Unknown,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
398,Living Donor,GU: Uterus,Unknown,19,0,1,6,6,1,5,...,0,0,0,0,0,0,0,0,0,0

In [152]:
organ_list = ['Kidney','Heart','Liver','Pancreas']

dtm_df = dtm_df[dtm_df['Organ Type'].isin(organ_list)]

dtm_df = dtm_df.dropna(subset=['Payment'])

dtm_df.sort_values('Organ Type')

,Donor Type,Organ Type,Payment,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
240,Deceased Donor,Heart,Private insurance,"35,057",59,"1,644","1,673","1,521","1,489","1,384",...,"1,388","1,361","1,378",960,26,8,12,13,7,1
238,Deceased Donor,Heart,Free Care,255,0,10,4,0,2,0,...,13,15,20,21,2,1,0,0,0,0
239,Deceased Donor,Heart,Pending,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,Living Donor,Heart,Public insurance - Medicare Unspecified,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
241,Deceased Donor,Heart,Public insurance - CHIP (Children's Health Ins...,292,1,34,25,18,14,23,...,0,0,1,1,1,1,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Deceased Donor,Pancreas,Public insurance - Medicare FFS (Fee for Service),"1,097",0,24,29,34,46,39,...,0,0,0,0,0,0,0,0,0,0
215,Deceased Donor,Pancreas,Public insurance - Medicare & Choice,550,0,10,9,11,20,25,...,0,0,0,0,0,0,0,0,0,0
214,Deceased Donor,Pancreas,Public insurance - Medicaid,873,1,20,16,41,34,41,...,20,10,8,7,10,8,5,3,4,0
220,Deceased Donor,Pancreas,US/State Govt Agency,51,0,0,0,0,0,0,...,5,3,3,3,1,1,0,0,0,0
217,Deceased Donor,Pancreas,Public insurance - Medicare Unspecified,"1,013",0,0,0,0,0,0,...,39,42,22,19,9,4,6,5,1,0

In [154]:
dtm_state = dtm_state[dtm_state['Organ Type'].isin(organ_list)]

dtm_state = pd.DataFrame(dtm_state)

dtm_state['To Date'].replace('', np.nan, inplace=True)

dtm_state.dropna(subset=['To Date'], inplace=True)

dtm_state.sort_values('Organ Type')

,Donor Type,Center States,Organ Type,To Date,2021,2020,2019,2018,2017,2016,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
700,Deceased Donor,North Carolina,Heart,"2,950",13,163,162,141,125,126,...,65,72,60,72,59,54,34,56,30,43
500,Deceased Donor,District of Columbia,Heart,492,2,39,22,25,24,26,...,16,17,18,14,23,13,25,18,13,20
865,Living Donor,California,Heart,15,0,0,0,0,2,1,...,0,0,0,2,0,0,1,6,1,2
648,Deceased Donor,Missouri,Heart,"2,789",5,101,107,93,105,98,...,82,89,84,101,94,79,92,57,66,79
508,Deceased Donor,Florida,Heart,"4,667",27,288,236,246,243,243,...,131,108,106,88,95,93,82,74,67,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,Deceased Donor,Minnesota,Pancreas,"1,595",1,7,14,12,17,17,...,51,36,26,25,36,20,19,33,34,30
823,Deceased Donor,Washington,Pancreas,113,0,1,0,0,2,1,...,9,4,4,4,5,2,5,1,0,0
814,Deceased Donor,Virginia,Pancreas,159,0,4,1,7,4,3,...,1,2,1,0,1,1,2,3,1,0
592,Deceased Donor,Maryland,Pancreas,593,0,4,3,6,10,2,...,49,45,15,18,9,6,0,0,0,0
568,Deceased Donor,Kentucky,Pancreas,39,0,0,1,0,1,0,...,1,0,1,2,1,0,0,2,1,3

In [155]:
dtm_df.to_csv('clean_data/donor_type_payment.csv')

In [156]:
dtm_state.to_csv('clean_data/donor_type_by_state.csv')